<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <title>Main page</title>
</head>
<body>

<%- include('menu') -%>

<div class="main-profile">
    <h1><%= username %></h1>
    <img style="width: 200px;" src="images/profile.png">
</div>

<div class="main-workplaces">
    <h2>Workplaces</h2>
    <% activities.forEach(function(activity){ %>
         <% if(activity.type == 'WORKPLACE'){ %>
            <%- include('activity', {activity: activity}) %>
        <% } %>
    <% }); %>
</div>

<div class="main-projects">
    <h2>Projects</h2>
    <% activities.forEach(function(activity){ %>
        <% if(activity.type == 'PROJECT'){ %>
            <%- include('activity', {activity: activity}) %>
        <% } %>
    <% }); %>
</div>




</body>
</html>